= javascript 'jquery.payment'
= javascript 'jquery.externalscript'
= javascript 'jquery.readyselector'
= javascript 'signup'
= meta_tag 'stripe-key', @stripe_publishable_key

%h2 Subscription Signup for #{@subscription.user.first_name}
%p
  This subscription will charge you on a monthly basis starting the first of the month.  Once you sign up, you can login to this site at anytime to manage your subscription settings.
%noscript
  %p
    This form requires Javascript to use
.mini-container.spaced
  %h3
    Plan: #{humanized_money_with_symbol @subscription.plan.amount_in_dollars}/month
  %p
    - if @subscription.plan.trial_period_days == 0
      The first charge of #{humanized_money_with_symbol @subscription.plan.amount_in_dollars} will occur immiately and every month thereafter.
    - else
      The first charge of #{humanized_money_with_symbol @subscription.plan.amount_in_dollars} will occur in #{@subscription.plan.trial_period_days} days, and then every month thereafter.

= form_for @subscription, :url => { :action => "complete_signup" }, :html => {:class => "signup_form"} do |f|  

  =f.fields_for :user do |u|
    .mini-container
      %h3
        Your Information
      .field-row
        =u.label :first_name, 'First name'
        =u.text_field :first_name, :class => 'first-name'

      .field-row
        =u.label :last_name, 'Last name'
        =u.text_field :last_name, :class => 'last-name'

      .field-row
        =u.label :email, 'Email'
        =u.text_field :email

      .field-row
        =u.label :password, 'Choose a password'
        =u.password_field :password

      .field-row
        = u.hidden_field :stripe_token

      .field-row
        = u.hidden_field :last_4_digits

      %p
        Setting a password allows you to login and manage these payment settings.

    .mini-container.payment-container.spaced-top.spaced-bottom
      %h3
        Payment

      .credit-card-errors#credit-card-errors
        #stripe-error.error.hidden

      .field-row
        = label_tag :credit_card_number
        = text_field_tag :credit_card_number, params[:credit_card_number], :class => 'credit-card-number', :value => '4242424242424242'

      .field-row
        = label_tag :expiry_date
        = date_select "", :expiry_date, {:discard_day => true, :order => [:month, :year], :use_month_numbers => true, :start_year => Date.today.year, :end_year => Date.today.year + 25}, {:class => "small expiry-date"}

      .field-row
        = label_tag :cvv, 'CVV'
        = text_field_tag :cvv, params[:cvv], :class => 'small cvv', :value => '222'

  .mini-container.spaced-bottom
    .field-row
      = f.submit 'Sign up', :class => 'button'